<div class="profile-container">
 <%= render "navs/login_nav" %>
</div>

<div class="hero-div"></div>
  <div class="question-script u-pull-left">
    <h5>“Judge a man by his questions rather than by his answers.”</h5>
    <p>Before starting to fill in question form, you should ask yourself the most important question. <strong>Are you asking the right questions?</strong></p>

    <p>If not, you might not be getting the feedback you need to make corrections in your behavior. You might not be getting type of answers that you need to hear. You also might just be getting downright wrong information.</P>
  </div>

    <div class="form question-form u-pull-right" id="question-form">
      <h3>Question</h3>
      <%= form_for @question, url: questions_path do |f| %>
      <p id='title'><%= f.label :title %></p>
      <p class="q-title" id="title_t"><%= f.text_field :title, :size=>"150" %> </p>
      <p id="content"><%= f.label :content %></p>
      <p  class="q-content" id="content_t"><%= f.text_area :content, :cols => 108, :rows => 100 %></p>
      <%= f.submit %>
      <% end %>
  </div>

<div class="u-cf"></div>

<div class="container">
  <h3>List of All Questions</h3>
  <script id="question-template" type="text/x-handlebars-template">
  <div class="question" id={{ id }}>
    <h4>{{ title }}</h4>
    <p>{{ content }}</p>
    <button class="show-answers">Show Answers</button>
    <button class="new-answer">Add Answer</button>
  </div>
  </script>
</div>

<script id="answer-template" type="text/x-handlebars-template">
<div class="container answer" id="/{{ id }}">
  <p>{{ title }}</p>
  <p>{{ content }}</p>
</div>
</script>

<div class="questions-container">
  <% @questions.each do |question| %>
  <div class="question" id="<%= question.id %>">
    <h3><%= question.title %></h3>
    <p><%= question.content %></p>

    <button class="show-answers">Show Answers</button>
    <button class="new-answer">Add Answer</button>
  </div>
  <% end %>
</div>

<div class="form-container hidden">
  <form class="new-answer-form">
    <!-- <h3><input class="answer-title" type="text" name="title" placeholder="Title"></h3> -->
    <input class="answer-content" type="text" name="content" placeholder="Content"><br>
    <input type="submit" value="Add answer" >
  </form>
</div>

<%= render "footer/footer" %>





