<div class="profile-container">
  <div id="user_nav" >
   <div class="logged_in">
    <div class="logged_in_nav">
     Welcome <%= current_user.email %>
   </div>
    <div class="logged_in_nav">
      <%= link_to "Home", root_path %>
    </div>
   <div class="logged_in_nav">
     <%= link_to "Profile", profile_path(current_user) %>
   </div>
   <div class="logged_in_nav">
     <%= link_to "Find a tutor", tutors_path %>
   </div>
   <div class="logged_in_nav">
     <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
   </div>
 </div>
</div>

<div class="hero-div"></div>
  <div class="question-script u-pull-left">
    <h5>“Judge a man by his questions rather than by his answers.”</h5>
    <p>Before starting to fill in question form, you should ask yourself the most important question. <strong>Are you asking the right questions?</strong></p>

    <p>If not, you might not be getting the feedback you need to make corrections in your behavior. You might not be getting type of answers that you need to hear. You also might just be getting downright wrong information.</P>

    <p>If you want to read more about how to ask good question, <a href="http://stackoverflow.com/questions/ask/advice?">here</a></p>
  </div>

    <div class="form question-form u-pull-right" id="question-form">
      <h3>Question</h3>
      <%= form_for @question, url: questions_path do |f| %>
      <p id='title'><%= f.label :title %></p>
      <p class="q-title" id="title_t"><%= f.text_field :title, :size=>"150" %> </p>
      <p id="content"><%= f.label :content %></p>
      <p  class="q-content" id="content_t"><%= f.text_area :content, :cols => 108, :rows => 100 %></p>
      <%= f.submit %>
      <% end %>
  </div>

<div class="u-cf"></div>

<div class="container">
  <h3>List of All Questions</h3>
  <script id="question-template" type="text/x-handlebars-template">
  <div class="question" id={{ id }}>
    <h4>{{ title }}</h4>
    <p>{{ content }}</p>
    <button class="show-answers">Show Answers</button>
    <button class="new-answer">Add Answer</button>
  </div>
  </script>
</div>

<script id="answer-template" type="text/x-handlebars-template">
<div class="container answer" id="/{{ id }}">
  <p>{{ title }}</p>
  <p>{{ content }}</p>
</div>
</script>

<div class="questions-container">
  <% @questions.each do |question| %>
  <div class="question" id="<%= question.id %>">
    <h3><%= question.title %></h3>
    <p><%= question.content %></p>

    <button class="show-answers">Show Answers</button>
    <button class="new-answer">Add Answer</button>
  </div>
  <% end %>
</div>

<div class="form-container hidden">
  <form class="new-answer-form">
    <h3><input class="answer-title" type="text" name="title" placeholder="Title"></h3>
    <input class="answer-content" type="text" name="content" placeholder="Content"><br>
    <input type="submit" value="Add answer" >
  </form>
</div>


<footer>
  <div class="learn_more three columns">
    <h5 class="docs-header">Learn More</h5>
    <P>Read our Blog</P>
    <P>How 2tr works</P>
  </div>

  <div class="need_help three columns">
    <h5 class="docs-header">Contact Center</h5>
    <P>customer@2tr.com</P>
  </div>

  <div class="about_2tr three columns">
    <h5 class="docs-header">About 2tr</h5>
    <P>In the Press</P>
    <P>Jobs</P>
  </div>

  <div class="top_cities three columns">
    <h5 class="docs-header">Top Cities</h5>
    <P>San Francisco</P>
    <P>Vancouver</P>
    <P>Honolulu</P>
  </div>
</footer>






