<div class="user_nav question" >
 <div class="logged_in">
    <div class="logged_in_nav">
     Welcome <%= current_user.email %>
   </div>

   <div class="logged_in_nav">
     <%= link_to "Profile", profile_path(current_user) %>
   </div>

   <div class="logged_in_nav">
     <%= link_to "Find a tutor", tutors_path %>
   </div>

   <div class="logged_in_nav">
     <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
   </div>
 </div>
</div>

<div class="hero-div"></div>
  <div class="u-pull-left">
    <h5>“Judge a man by his questions rather than by his answers.”</h5>
    <p>Before starting to fill in question form, you should ask yourself the most important question. <strong>Are you asking the right questions?</strong></p>

    <p>If not, you might not be getting the feedback you need to make corrections in your behavior. You might not be getting type of answers that you need to hear. You also might just be getting downright wrong information.</P>
  </div>

    <div class="form u-pull-right" id="question-form">
      <h4>Question</h4>
      <%= form_for @question, url: questions_path do |f| %>
      <p id='title'><%= f.label :title %></p>
      <p class="q-title" id="title_t"><%= f.text_field :title, :size=>"150" %> </p>
      <p id="content"><%= f.label :content %></p>
      <p  class="q-content" id="content_t"><%= f.text_area :content, :cols => 108, :rows => 100 %></p>
      <%= f.submit %>
      <% end %>
  </div>

<br>
<div class="handlebars-container list-question">
  <h4>List of Questions</h4>
  <script id="question-template" type="text/x-handlebars-template">
  <div class="question" id={{ id }}>
    <p>Title: {{ title }}</p>
    <p>Content: {{ content }}</p>
    <button class="show-answers">Show Answers</button>
    <button class="new-answer">Add Answer</button>
  </div>
  </script>

  <script id="answer-template" type="text/x-handlebars-template">
  <div class="container answer" id="/{{ id }}">
    <p>{{ title }}</p>
    <p>{{ content }}</p>
    <br>
  </div>
  </script>

  <div class="questions-container">
    <% @questions.each do |question| %>
    <div class="question" id="<%= question.id %>">
      <p><strong>Title:</strong> <%= question.title %></p>
      <p><strong>Content:</strong> <%= question.content %></p>

      <button class="show-answers">Show Answers</button>
      <button class="new-answer">Add Answer</button>
      <br>
    </div>
    <br>
    <% end %>
  </div>

  <div class="form-container hidden">
    <form class="new-answer-form">
      <input type="text" name="title" placeholder="Title">
      <input type="text" name="content" placeholder="Content">
      <input type="submit" value="Add answer" >
    </form>
  </div>

</div>




