<div class="profile-container">
  <div id="user_nav" >
   <div class="logged_in">
    <div class="logged_in_nav">
     Welcome <%= current_user.email %>
   </div>
   <div class="logged_in_nav">
     <%= link_to "Profile", profile_path(current_user) %>
   </div>
   <div class="logged_in_nav">
     <%= link_to "Find a tutor", tutors_path %>
   </div>
   <div class="logged_in_nav">
     <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </div>
   </div>
  </div>
</div>

<div class="screen">

<div class="screen_form_container">
  <div class="header-container">
    <h1 class='category'>Questions</h1>
  <div class="form-container ">
  </div>

    <%= form_for @question, url: questions_path do |f| %>
      <p class="form_p"><%= f.label :title %></p>
      <p class="form_p"><%= f.text_field :title %></p>
      <p class="form_p"><%= f.label :content %></p>
      <p class="form_p"><%= f.text_field :content %></p>
      <%= f.submit %>
    <% end %>
  </div>

  </div>







<script id="question-template" type="text/x-handlebars-template">
  <div class="question" id={{ id }}>
    <p>{{ title }}</p>
    <p>{{ content }}</p>
    <button class="show-answers">Show Answers</button>
    <button class="new-answer">Add Answer</button>
  </div>
</script>

<script id="answer-template" type="text/x-handlebars-template">
  <div class="answer" id="/{{ id }}">
    <p>{{ title }}</p>
    <p>{{ content }}</p>
  </div>
</script>

<div class="questions-container">
  <% @questions.each do |question| %>
    <div class="question" id="<%= question.id %>">
      <p><%= question.title %></p>
      <p><%= question.content %></p>
      <button class="show-answers">Show Answers</button>
      <button class="new-answer">Add Answer</button>
    </div>
  <% end %>
</div>

<div class="form-container hidden">
  <form class="new-answer-form">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="content" placeholder="Content">
    <input type="submit" value="Add answer" >
  </form>
</div>
</div>
<BR>


