<div class="main">

  <div class="main-container">

<div class="form-container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h4>Oh No! Something went wrong. Please verify email and/or password.</h4>
      <%= devise_error_messages! %>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
  <% if devise_mapping.rememberable? -%>
      <%= f.label :remember_me %><%= f.check_box :remember_me %>
  <% end -%>
      <%= f.submit "Log in" %>
  <% end %>
  <div class="login_error_buttons">
      <%= render "users/shared/links" %>
</div>
</div>
</div>
</div>



