<div class="top-container">
  <title>2TR Online Learning Can be Easier</title>
  <%= render "navs/nav" %>
</div>

<div class="signup-render">
  <%= render "users/registrations/student_signup" %>
</div>

<div class="login-render">
  <%= render "users/confirmations/login" %>
</div>

<div class='tutor-render'>

  <%= render "users/registrations/new" %>

</div>

<div class="hero"></div>
<div class="main-quote">A New Way to Learn Coding</div>
  <% if user_signed_in? %>

  <% else %>

    <div class="how_to">
      <div class="how_to_1 four columns value-prop">
        <p>Log in or Sign in as a Student/Tutor</p>
        <div class= 'image'>
          <%= image_tag("Image1.jpg") %>
        </div>
      </div>
      <div class="how_to_2 four columns value-prop">
        <p>Enjoy courses we carefully selected</p>
        <div class= 'image'>
        <%= image_tag("Image3.jpg") %>
        </div>
      </div>
      <div class="how_to_3 four columns value-prop">
        <p>Questions? Connect with one of our tutors</p>
        <div class= 'image'>
          <%= image_tag("Image2.jpg") %>
        </div>
      </div>
    </div>
  <% end %>

<div class="main">

<div class="main-container-1">

  <div class="curriculum" id="html">
      <strong>HTML/CSS</strong>
  </div>

  <div class="curriculum" id="javascript">
      <strong>Javascript</strong>
  </div>

  <div class="curriculum" id="angular">
      <strong>Angular</strong>
  </div>

</div>

<div class="main-container-2">

  <div class="curriculum" id="node">
      <strong>Node</strong>
  </div>

  <div class="curriculum" id="python">
      <strong>Python</strong>
  </div>

  <div class="curriculum" id="git">
      <strong>Git</strong>
  </div>

</div>

<div class="main-container-1">

  <div class="curriculum" id="ruby">
      <strong>Ruby</strong>
  </div>

  <div class="curriculum" id="obj-c">
      <strong>Obj C</strong>
  </div>

  <div class="curriculum" id="mongo">
      <strong>Mongo</strong>
  </div>

</div>

<div class="main-container-2">

  <div class="curriculum" id="jquery">
      <strong>jQuery</strong>
  </div>
  <div class="curriculum" id="sublime">
      <strong>Sublime</strong>
  </div>
  <div class="curriculum" id="sql">
      <strong>SQL</strong>
  </div>
</div>
</div>


<div class="question-container">
  <% if user_signed_in? %>
  <%= button_to "Have A Question?", questions_path, method: :get, :class => "question_button" %>
  <% else %>
  <% end %>
</div>


<footer>
  <div class="learn_more three columns">
    <h5 class="docs-header">Learn More</h5>
    <P>Read our Blog</P>
    <P>How 2tr works</P>
  </div>

  <div class="need_help three columns">
    <h5 class="docs-header">Contact Center</h5>
    <P>customer@2tr.com</P>
  </div>

  <div class="about_2tr three columns">
    <h5 class="docs-header">About 2tr</h5>
    <P>In the Press</P>
    <P>Jobs</P>
  </div>

  <div class="top_cities three columns">
    <h5 class="docs-header">Top Cities</h5>
    <P>San Francisco</P>
    <P>Vancouver</P>
    <P>Honolulu</P>
  </div>
</footer>


