<div class="container">
  <title>2TR Online Learning Can be Easier</title>
  <nav class="container">
    <div class="logo three columns">Logo</div>
    <div class="search three columns" id="tutor_login"><%= link_to "✒ Become a Tutor", new_user_registration_path, method: :get %></div>
    <div id="user_nav" class="u-pull-right">
     <% if user_signed_in? %>
          <% if session[:linkedin_token].nil? %>
              Welcome <a href="profile/<%= current_user.id %>" ><%= current_user.email %>
               <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
               <%= link_to "Sign out", linkedin_logout_path, method: :delete %>
               Welcome <%= current_user.email %>
          <% end %>
      <% else %>
        <%= link_to "📚 Log In", new_user_session_path, method: :get %>
        <%= link_to "📖 Sign Up", new_user_registration_path, method: :get %>
     <% end %>
    </div>
  </nav>

  <body>
</div>
    <div class="hero"></div>
<div class="container">

    <div class="how_to">
      <section class="header">
        <div class="how_to_1 four columns value-prop">
          <img src="">
          <p>Log in or Sign in as a Student/Tutor</p>
        </div>
        <img src="">
        <div class="how_to_2 four columns value-prop">
          <p>Enjoy courses we carefully selected</p>
        </div>
        <div class="how_to_3 four columns value-prop">
          <img src="">
          <p>If you have a question, connect with one of our trusted tutors</p>
        </div>
      </section>
    </div>
  </div>







<!-- float right -->
  <div class="curriculum two columns">
    <ul>
      <li id="html">HTML/CSS</li><br>
      <li id="javascript">JavaScript</li><br>
      <li id="ruby">Ruby</li><br>
      <li id="cs">CS</li>
    </ul>
  </div>
<!-- float left -->
  <div class="tutor_list two columns">
    <div class="tutor"></div>
  </div>

  <footer>
    <ul class="learn_more three columns">
      <li>Read our Blog</li>
      <li>How 2Tr works?</li>
    </ul>
    <ul class="need_help three columns">
      <li>Contact Center</li>
      <li>customer@2tr.com</li>
    </ul>
    <ul class="about_2tr three columns">
      <li>In the Press</li>
      <li>Jobs</li>
    </ul>
    <ul class="top_cities three columns">

      <li>San Francisco</li>
      <li>Vancouver</li>
      <li>Hawaii</li>
    </ul>

  </footer>

