<div class="top-container">
  <title>2TR Online Learning Can be Easier</title>
  <%= render "navs/nav" %>
</div>

<div class="signup-render">
  <%= render "users/registrations/student_signup" %>
</div>

<div class="login-render">
  <%= render "users/confirmations/login" %>
</div>

<div class='tutor-render'>

  <%= render "users/registrations/new" %>

</div>

<div class="hero" style="background-image:url('https://download.unsplash.com/photo-1416339442236-8ceb164046f8')"></div>
<div class="q-container">
  <div class="main-quote">
    A New Way to Learn Coding</br>
    A New Way to Share Knowledge
  </div>
</div>
    <% if user_signed_in? %>
  <% else %>
    <div class="how_to">
      <div class="how_to_1 four columns value-prop">
        <p>Log in or Sign in as a Student/Tutor</p>
        <div class= 'image'>
          <%= image_tag("Image1.jpg") %>
        </div>
      </div>
      <div class="how_to_2 four columns value-prop">
        <p>Enjoy courses we carefully selected</p>
        <div class= 'image'>
        <%= image_tag("Image3.jpg") %>
        </div>
      </div>
      <div class="how_to_3 four columns value-prop">
        <p>Questions? Connect with one of our tutors</p>
        <div class= 'image'>
          <%= image_tag("Image2.jpg") %>
        </div>
      </div>
  <% end %>
</div>

<div class="curriculum-container">
  <div class="main-container">
    <h3 class="c-head">Don't Know Where to Start? Try Courses We carefully Selected</h3>
    <div class="curriculum" id="html">
        <strong>HTML</strong>
    </div>
    <div class="curriculum" id="javascript">
        <strong>Javascript</strong>
    </div>
    <div class="curriculum" id="css">
        <strong>CSS</strong>
    </div>
    <div class="curriculum" id="heroku">
        <strong>Heroku</strong>
    </div>
    <div class="curriculum" id="python">
        <strong>Python</strong>
    </div>
    <div class="curriculum" id="git">
        <strong>Git</strong>
    </div>
    <div class="curriculum" id="ruby">
        <strong>Ruby</strong>
    </div>
    <div class="curriculum" id="fundamentals">
        <strong>APIs</strong>
    </div>
    <div class="curriculum" id="mongo">
        <strong>MongoDB</strong>
    </div>
    <div class="curriculum" id="jquery" id="javascript">
        <strong>jQuery</strong>
    </div>
    <div class="curriculum" id="sublime">
        <strong>Sublime</strong>
    </div>
    <div class="curriculum" id="sql">
        <strong>SQL</strong>
    </div>
    <div class='expend-hidden'></div>
    <% if user_signed_in? %>
    <%= button_to "Have A Question?", questions_path, method: :get, :class => "question_button" %>
    <% else %>
    <% end %>
  </div>
</div>

<%= render "footer/footer" %>


