<div class="top-container">
  <title>2TR Online Learning Can be Easier</title>
  <div id="user_nav" >
   <% if user_signed_in? %>
   <% if session[:linkedin_token].nil? %>
   <div class="logged_in">
    <div class="logged_in_nav">
     Welcome <%= current_user.first_name|| current_user.email %>
   </div>
   <div class="logged_in_nav">
      <%= link_to "ðŸ  Home", root_path %>
   </div>
   <div class="logged_in_nav">
     <%= link_to "Profile", profile_path(current_user) %>
   </div>
   <div class="logged_in_nav">
     <%= link_to "Find a tutor", tutors_path %>
   </div>
   <div class="logged_in_nav">
     <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
   </div>
 </div>
 <% else %>
 <div class="logged_in">
   <div class="logged_in_nav">
     Welcome <%= current_user.first_name || current_user.email %>
   </div>
   <div class="logged_in_nav">
      <%= link_to "ðŸ  Home", root_path %>
   </div>
   <div class="logged_in_nav">
     <%= link_to "Profile", profile_path(current_user) %>
   </div>
   <div class="logged_in_nav">
     <%= link_to "Find a tutor", tutors_path %>
   </div>
   <div class="logged_in_nav">
     <%= link_to "Sign out", linkedin_logout_path, method: :delete %>
   </div>
 </div>
 <% end %>
 <% else %>
 <div id="not_logged_in">
  <div class="test">
    <a class='tutor_button' href='/users/sign_up'>ðŸŽ“ Become a Tutor</a>
  </div>
  <div class="test">
    <a class="login">ðŸ“š Log In</a>
  </div>
  <div class="test">
    <a class="signup">ðŸ“– Sign Up</a>
  </div>
</div>
<% end %>
</div>

<div class="signup-render">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :first_name, "First Name*" %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :email, "Email*" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :url, "Image URL" %><br />
    <%= f.text_field :url, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", :class => "side_log" %>
  </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>

<div class="login-render">
  <h2>Login</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="field">
    <%= f.label :remember_me %><%= f.check_box :remember_me %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
  <% end -%>

  <% end %>

  <%= render "users/shared/links" %>
</div>

<div class='tutor-render'>
<h2>Application</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name, "First Name" %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :url, "Image URL" %><br />
    <%= f.text_field :url, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :availability, "Your Availability" %><br />
    <%= f.text_field :availability, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <%= f.label :user_type, 'I will be an Awesome Tutor!', :value => 2 %>
  <%= f.radio_button :user_type, 2 %>

  <div class="field">
    <%= f.label :description, "Introduce Yourself" %><br />
    <%= f.text_area :description, autofocus: true %>
  </div>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>

</div>

<div class="hero"></div>
<div class="main-quote">A New Way to Learn Coding</div>
  <% if user_signed_in? %>

  <% else %>

    <div class="how_to">
      <div class="how_to_1 four columns value-prop">
        <p>Log in or Sign in as a Student/Tutor</p>
        <div class= 'image'>
          <%= image_tag("Image1.jpg") %>
        </div>
      </div>
      <div class="how_to_2 four columns value-prop">
        <p>Enjoy courses we carefully selected</p>
        <div class= 'image'>
        <%= image_tag("Image3.jpg") %>
        </div>
      </div>
      <div class="how_to_3 four columns value-prop">
        <p>Questions? Connect with one of our tutors</p>
        <div class= 'image'>
          <%= image_tag("Image2.jpg") %>
        </div>
      </div>
    </div>
  <% end %>


<div class="main-container">
  <div class="curriculum" id="html">
      <strong>HTML/CSS</strong>
  </div>
  <div class="curriculum" id="javascript">
      <strong>Javascript</strong>
  </div>
  <div class="curriculum" id="angular">
      <strong>Angular</strong>
  </div>
  <div class="curriculum" id="node">
      <strong>Node</strong>
  </div>

  <div class="curriculum" id="python">
      <strong>Python</strong>
  </div>
  <div class="curriculum" id="git">
      <strong>Git</strong>
  </div>
  <div class="curriculum" id="ruby">
      <strong>Ruby</strong>
  </div>
  <div class="curriculum" id="obj-c">
      <strong>Obj C</strong>
  </div>
  <div class="curriculum" id="mongo">
      <strong>Mongo</strong>
  </div>
  <div class="curriculum" id="jquery">
      <strong>jQuery</strong>
  </div>
  <div class="curriculum" id="sublime">
      <strong>Sublime</strong>
  </div>
  <div class="curriculum" id="sql">
      <strong>SQL</strong>
  </div>
  <% if user_signed_in? %>
  <%= button_to "Have A Question?", questions_path, method: :get, :class => "question_button" %>
  <% else %>
  <% end %>
</div>


<footer>
  <div class="learn_more three columns">
    <h5 class="docs-header">Learn More</h5>
    <P>Read our Blog</P>
    <P>How 2tr works</P>
  </div>

  <div class="need_help three columns">
    <h5 class="docs-header">Contact Center</h5>
    <P>customer@2tr.com</P>
  </div>

  <div class="about_2tr three columns">
    <h5 class="docs-header">About 2tr</h5>
    <P>In the Press</P>
    <P>Jobs</P>
  </div>

  <div class="top_cities three columns">
    <h5 class="docs-header">Top Cities</h5>
    <P>San Francisco</P>
    <P>Vancouver</P>
    <P>Honolulu</P>
  </div>
</footer>


