<div class="profile-container">
  <%= render "navs/login_nav" %>
</div>

<div class='profile-edit'>

</div>
<% if current_user.id == @user.id %>
<div class='edit-profile u-pull-right'>
    <h2>Edit Profile</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy with 2tr? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
  <% end %>

  <div class='profile-about'>
    <h2>About <%= @user.first_name %></h2>
    <img src="<%= @user.image %>" height="90" width="110">
    <h5>Email: <%= @user.email %></h5>
    <h5>Description: <%= @user.description %></h5>
    <% if current_user.id == @user.id %>
      <button class='edit_button'>Edit Profile</button>
    <% end %>
  </div>

  <div class="review-container">
    <h4><%= @user.first_name %>'s Reviews:</h4>
    <% @reviews.each do |review| %>
      <div class="review">
        <p>Review: <%= review.content %></p>
        <p>Rating: <%= 'â­' * review.rating %></p>
      </div>
    <% end %>
  </div>


  <% if current_user.id != @user.id %>
    <button class="review-button" id="<%= @user.id %>">Leave Review for <%= @user.first_name %>
    </button>
  <% end %>

</div>

<script id="review-template" type="text/x-handlebars-template">
  <div class="review">
    <p>Review: {{ content }}</p>
    <p>{{ rating }}</p>
  </div>
</script>

<footer>
  <div class="learn_more three columns">
    <h5 class="docs-header">Learn More</h5>
    <P>Read our Blog</P>
    <P>How 2tr works</P>
  </div>

  <div class="need_help three columns">
    <h5 class="docs-header">Contact Center</h5>
    <P>customer@2tr.com</P>
  </div>

  <div class="about_2tr three columns">
    <h5 class="docs-header">About 2tr</h5>
    <P>In the Press</P>
    <P>Jobs</P>
  </div>

  <div class="top_cities three columns">
    <h5 class="docs-header">Top Cities</h5>
    <P>San Francisco</P>
    <P>Vancouver</P>
    <P>Honolulu</P>
  </div>
</footer>