<div class="profile-container">
  <%= render "navs/login_nav" %>
</div>

<div class="splash">
  <div class ="tutor-window">
    <h1>Tutors near you</h1>
  </div>
</div>

<div class="user-container">
  <% @tutors.each do |tutor| %>
    <div class="user" id="<%= tutor.id %>">
      <img src="<%= tutor.image %>" alt="Profile">
      <p><%= tutor.first_name %></p>
      <p><%= tutor.description %></p>
      <button class="invitation">Send chat invitation</button>
      <%= button_to "Profile", profile_path(tutor), method: :get %>
    </div>
  <% end %>
</div>
</div>
