<%= gmaps("map_options" => {:container_class => "map_container_renamed", "zoom" => 15, "auto_zoom" => false},"markers" => { "data" => @json }) %>
<script src="geocode.js"></script>
<div class="profile-container">
  <%= render "navs/login_nav" %>
</div>

<script>
  var geocoder;
  var map;
  var infowindow;
  var marker;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(37.7833, -122.4167);
    var mapOptions = {
      zoom: 8,
      center: latlng
    }
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  }

  function codeAddress() {
    var address = document.getElementById('address').value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  } //codeAddress()
  google.maps.event.addDomListener(window, 'load', initialize);

  $(document).ready(function() {
    $('.tutor-main').on('click', function(evt) {
      evt.preventDefault();
      $.ajax({
        url: '/users/tutors_map',
        type: 'GET',
        dataType: 'JSON'
      })
      .done(function(response) {
        for (var i=0; i<response.length; i++) {
          console.log(response[i].address)
          var marker = new google.maps.Marker({
          position: LatLng(response[i].address),
          map: map,
          title: response[i].first_name
          });
        } //for
      })
      .fail(function() {
        console.log("error");
      }) //fail
    })  //click
  }) //ready
</script>

<div class="splash">
  <div class="tutor-main">
    <form class="postcode u-pull-left">
      Finding Toturs near you?<br />
      <input id="address" type="textbox" value="94070">
      <br>
      <input type="button" value="Search" onclick="codeAddress()">
    </form>
    <div id="map-canvas" class="u-pull-right"></div>
  </div>
</div>

<div class="user-container">
  <% @tutors.each do |tutor| %>
    <div class="user" id="<%= tutor.id %>">
      <img src="<%= tutor.image %>" height="90" width="110">
      <h3 style="color:#CCCCFF"><%= tutor.first_name %></h3>
      <p><%= tutor.description %></p>
      <p>I live in <%= tutor.address %> area</p>
      <button class="invitation">Send chat invitation</button>
      <%= button_to "Profile", profile_path(tutor), method: :get %>
    </div>
  <% end %>
</div>
</div>
