<h1>Tutors</h1>

<div class="user-container">
  <% @tutors.each do |tutor| %>
    <div class="user" id="<%= tutor.id %>">
      <img src="<%= tutor.url %>" alt="Profile">
      <p><%= tutor.first_name %></p>
      <p><%= tutor.description %></p>
      <button class="invitation">Send chat invitation</button>
      <%= link_to "Profile", profile_path(tutor) %>
    </div>
  <% end %>
</div>
