<div id="user_nav" >
   <div class="logged_in">
    <div class="logged_in_nav">
     Welcome <%= current_user.email %>
   </div>
    <div class="logged_in_nav">
      <%= link_to "ðŸ  Home", root_path %>
    </div>
   <div class="logged_in_nav">
     <%= link_to "ðŸ‘­ Profile", profile_path(current_user) %>
   </div>
   <div class="logged_in_nav">
     <%= link_to "ðŸŒŽ Find a tutor", tutors_path %>
   </div>
   <div class="logged_in_nav">
     <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
   </div>
 </div>